
.App {
  background-color: darkslategray;
}
.Background-Image-Box {
  position: relative;
  width: 100vw; /* Set the desired fixed width */
  height: 100vh; /* Set the desired fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.Background-Image-Box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the box while maintaining aspect ratio */
  transition: opacity 1s ease-in-out; /* Smooth fade effect */
  opacity: 1;
}
.Background-Image-Box img.hidden {
  opacity: 0; /* Make the current image fade out */
}

/* Position ProfileInfo on top of the image */
.Profile-Card {
  position: absolute; /* Position it above the image */
  background-color: rgba(255, 255, 255, .1); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure it's on top of the image */
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 

}
.Footer-Background {
  background-color:bisque;
  border: solid 1px;
  width: 100vw; /* Set the desired fixed width */

}