@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.Time {
    position: absolute;
    font-family: 'Orbitron', sans-serif; /* Use Orbitron font */
    width: 98%;
    display: flex;
    justify-content: end;
    top: 70%;
}
.Time h1 {
    color: aliceblue;
}