

.Profile-Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 0px;
}
.Profile-Card h1 {
  margin: 5px;
}

.Profile-Card p {
  margin: 10px;
}

.LogoCard {
  border: solid 2px;
  min-width: 400px;
  max-width: 100%;
  background-color: rgba(54, 7, 7, 0.1);
  box-sizing: border-box;
  overflow: hidden;
}
  